html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: $ff-first;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: $default;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

a {
  font-family: $ff-first;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $default;
}

.title {
  font-family: $ff-second;
  font-weight: 700;
  font-weight: 500;
  font-size: 48px;
  line-height: 65px;
  color: $title;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.text {
  max-width: 570px;
  text-align: center;
  margin: 0 auto 55px;
}

.breadcrumbs {
  position: relative;
  display: inline-flex;
  justify-content: center;
  padding-left: 25px;

  &::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: url('../images/icons/home.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    color: #727272;
    padding-right: 40px;

    &::after {
      content: "";
      position: absolute;
      right: 15px;
      top: 9px;
      width: 9px;
      height: 10px;
      background-image: url('../images/icons/angle-right.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    &:last-child {
      color: $accent;
      padding-right: 0;

      &::after {
        display: none;
      }
    }
  }

  &__link {
    color: inherit;
  }
}

.header--404-page {
  background-color: $bg;
}