.header {
  padding: 40px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-w($lg) {
      padding-right: 10px;
    }

    @include max-w($xs) {
      flex-wrap: wrap;
      padding-right: 0;
    }
  }
}

.menu {

  @include max-w($md) {
    order: 1;
    margin-left: 40px;
  }

  @include max-w($xs) {
    order: 0;
  }

  &__btn {
    display: none;

    @include max-w($md) {
      border: none;
      background-color: transparent;

      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 22px;
      padding: 0;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: $title;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }

      span {
        width: 100%;
        height: 3px;
        background-color: $title;
      }
    }
  }

  &__list {
    display: flex;

    @include max-w($md) {
      transform: translateY(-200%);
      position: absolute;
      top: 110px;
      left: 0;
      width: 100%;
      flex-direction: column;
      align-items: center;
      z-index: 5;
      background-color: #fff;
      transition: transform 0.3s;

      &.menu__list--active {
        transform: translateY(0);
        transition: transform 0.3s;
      }
    }

    @include max-w($xs) {
      top: 140px;
    }
  }

  &__list-item {
    @include max-w($md) {
      width: 100%;
      text-align: center;
      padding: 0 15px;
    }
  }

  &__list-item+&__list-item {
    margin-left: 35px;

    @include max-w($md) {
      margin-left: 0;
    }
  }

  &__list-link {
    font-family: $ff-second;
    font-weight: 400;
    color: $title;
    text-transform: uppercase;
    transition: all 0.3s;
    padding: 0 2px 1px;

    @include max-w($md) {
      display: block;
      width: 100%;
      padding: 12px 0;
    }

    &:hover,
    &:active,
    &:focus {
      font-family: $ff-second;
      font-weight: 700;
      color: $accent;
      border-bottom: 1px solid $accent;
    }

    &.menu__list-link--active {
      font-family: $ff-second;
      font-weight: 700;
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
}

.user-nav {
  display: flex;

  @include max-w($md) {
    margin-left: auto;
  }

  @include max-w($xs) {
    width: 100%;
    justify-content: flex-end;
    padding-right: 15px;
    margin-top: 35px;
  }

  &__link {
    position: relative;
  }

  &__link+&__link {
    margin-left: 25px;
  }

  &__num {
    position: absolute;
    top: -9px;
    right: -14px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $accent;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
  }
}