$accent: #fe3e57;
$default: #8d8d8d;
$title: #29282d;
$bg: #f6f6f6;

$ff-first: 'Quicksand', sans-serif;
$ff-second: 'Roboto', sans-serif;

%btn {
  font-family: $ff-second;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  background-color: $accent;
  box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
  padding: 12px 26px;  
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}