.promo {
  background-image: url('../images/promo-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  padding: 150px 0 160px;

  &__inner {
    max-width: 570px;
    width: 100%;
    margin-left: auto;
  }

  &__subtitle {
    font-size: 22px;
    color: $accent;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__link {
    display: inline-block;
    border: 1px solid $accent;
    color: $title;
    text-transform: uppercase;
    padding: 14px 27px;
    margin-top: 55px;
  }
}

.promo-clock {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;

  &__item {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);

    span {
      font-size: 48px;
      line-height: 1;
      font-family: $ff-second;
      font-weight: 700;
      color: $title;
    }
  }
}