.product {
  text-align: center;
  padding: 105px 0 120px;

  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px 30px;
    margin-bottom: 55px;
  }

  &__link {
    display: inline-block;
    border: 1px solid $accent;
    color: $title;
    text-transform: uppercase;
    padding: 14px 27px;
  }
}

.product-item {
  max-width: 370px;

  &__img-box {
    position: relative;
    height: 370px;
    overflow: hidden;
    margin-bottom: 25px;
  }

  &__images {
    object-fit: cover;
  }

  &__link-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 220px;
    height: 50px;
    border-radius: 22px;
    background-color: #fff;
    box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);

    transform: translateY(300%);
    transition: all 0.3s;

    margin: 0 auto;
  }

  &:hover {
    .product-item__link-box {
      transform: translateY(0);
    }
  }

  &__link {
    display: inherit;

    path {
      transition: all 0.3s;
    }
  }

  &__link:hover {
    path {
      fill: $accent;
    }
  }

  &__link--line::before,
  &__link--line::after {
    content: "";
    position: absolute;
    top: 10px;
    width: 1px;
    height: 30px;
    background-color: #ececec;
  }

  &__link--line::before {
    left: 70px;
  }

  &__link--line::after {
    right: 70px;
  }

  &__title {
    font-family: $ff-second;
    font-weight: 400;
    font-size: 22px;
    color: $title;
    padding: 15px 0 20px;
  }

  &__price {
    font-family: $ff-second;
    font-weight: 400;
    display: flex;
    justify-content: center;
  }

  &__new-price {
    color: $title;
    padding: 0 12px;
  }

  &__old-price {
    text-decoration: line-through;
    padding: 0 12px;
  }

  &--sale {
    .product-item__img-box::before {
      content: "SALE";
      position: absolute;
      top: 25px;
      left: 25px;
      @extend %btn;
      line-height: 1;
      padding: 7px 10px 6px;
    }
  }
}

.star {
  margin: 0 auto;
}
